body {
  background-image: url(https://th.bing.com/th/id/R.3584531dfa016fa04ed723faa6aba48b?rik=ogAD%2fmT4ddL2zw&pid=ImgRaw&r=0);
  background-size: 400px 400px;
}
:root{
  --bartextsize:3vw;
}
#statuspage {
  .title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2vw;
    background-color: rgba(208, 161, 40, 0.772);
    margin: 0 auto;
    width: fit-content;
  }
  .orderbox {
    background-color: rgba(229, 230, 229, 0.811);
    border-radius: 20px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .description {
      display: flex;
      flex-direction: row;
      font-size: 3rem;

      margin-top: 2vw;
      margin-left: 2vw;
      .orderstatus {
        font-size: 3rem;

        color: green;
      }
    }

    text-align: center;
    .progressbar {
     justify-content:space-between;
      //text-align: center;
      display: flex;
      flex-direction: row;
      
      .barFull {
        font-size: $bartextsize;
        margin: 2vw;
        
        .box {
          width: 20vw;
          height: 15px;
          border-radius: 20px;
          background-color: rgb(24, 225, 85);
          border: solid 1px black;
        }
      }
      .barEmpty {
        font-size: $bartextsize;
        margin: 2vw;

        .box {
          width: 20vw;
          border-radius: 20px;
          height: 15px;
          background-color: transparent;
          border: solid 1px black;
          .slider {
            width: 0%;
            border-radius: 20px;
            height: 100%;
            background-color: rgb(215, 208, 0);
            position: relative;
            animation: fillAnim 22s;
          }
        }
      }
    }

    .map {
      .mapimg {
        height: 70%;
        width: 70%;
      }
      .driverIcon {
        background-image: url(https://www.pinclipart.com/picdir/middle/187-1879813_motorcycle-with-sidecar-clipart.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        bottom: 10vw;
        left: 33vw;
        height: 1.8vw;
        width: 2vw;
        animation: drivermov 22s;
      }
    }
  }
}
@keyframes fillAnim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    background-color: rgb(64, 239, 5);
  }
}
@keyframes drivermov {
  0% {
    bottom: 10vw;
    left: 33vw;
  }
  30% {
    bottom: 18vw;
    left: 31vw;
  }
  60% {
    bottom: 19vw;
    left: 41vw;
  }
  100% {
    bottom: 28vw;
    left: 40vw;
  }
}
