#statuspage {
  .title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2vw;
  }
  .orderbox {
    background-color: rgb(199, 196, 196);
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .description {
      display: flex;
      flex-direction: row;
      font-size: 3rem;

      margin-top: 2vw;
      margin-left: 2vw;
      .orderstatus {
        font-size: 3rem;
        color: green;
      }
    }

    text-align: center;
    .progressbar {
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: row;
      .barFull {
        font-size: 2rem;
        margin: 2vw;
        .box {
          width: 100%;
          height: 25px;
          background-color: rgb(45, 45, 45);
          border: solid 1px black;
        }
      }
      .barEmpty {
        font-size: 2rem;
        margin: 2vw;
        .box {
          width: 100%;
          height: 25px;
          background-color: transparent;
          border: solid 1px black;
          .slider {
            width: 0%;
            height: 100%;
            background-color: rgb(42, 41, 41);
            position: relative;
            animation: fillAnim 22s;
          }
        }
      }
    }

    .map {
    
      .mapimg {
        height: 70%;
        width: 70%;
        
      }
      .driverIcon {
        background-image: url(https://www.pinclipart.com/picdir/middle/187-1879813_motorcycle-with-sidecar-clipart.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        bottom: 10vw;
        left: 33vw;
        height: 2vw;
        width: 2vw;
        animation: drivermov 22s;
      }
    }
  }
}
@keyframes fillAnim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes drivermov {
  0% {
    bottom: 10vw;
    left: 33vw;
  }
  30% {
    bottom: 18vw;
    left: 31vw;
  }
  60% {
    bottom: 19vw;
    left: 41vw;
  }
  100% {
    bottom: 28vw;
    left: 40vw;
  }
}
