body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.top_home_page {

    .top_image {
        width: 100%;
        height: auto;
    }

    .search_bar {
        position: relative;
        top: -30rem;
        left: 10rem;

        .top_header {
            color: #fff;
            z-index: 999;
            font-weight: 300;  
            font-size: 3rem;
        }
    
        .input {
            border:none;
            outline:none;
            display:inline-block;
            height:34px;
            border-radius:22px;
            width:18rem;
            box-sizing:border-box;
            padding:0 18px; 
        }

        .search_btn{ 
            background:#fff;
            width: 3rem;
            height:34px;
            margin-left: 0.3rem;
            border-radius:22px;
            cursor: pointer;
        }

       .search-icon {
            width: 1.7rem;
            position: relative;
            right: 2.5rem;
            top: 0.6rem;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                transition: ease-in-out 0.2s;
            }
        }
    }
}

.header {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.categories_header {
    margin-top: -8rem;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    gap: 2rem;
    margin: 0 auto;

    .category {
        text-align: center;
        background-color: #ef934c21;
        width: 20rem;
        padding-top: 2rem;
        border-radius: 1rem;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: ease-in-out 0.2s;
            background-color: #ef934c51;
        }
            &_img {
                width:4vw;
            }
        } 

        &_text {
            font-weight: 500;
            margin-top: 0;
        }
    }

.best-restaurants-header {
    margin-top: 5rem;
}

.best-restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    gap: 2rem;

    .restaurant {
        box-sizing: border-box;
        padding: 10px;
        padding: 0.5rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
            &__img {
                width: 17vw;
                height: 24vh;
            }

            &__name {
                font-weight: 600;
            }

            &__description {
                width: 17vw;
            }

            .star {
                color: #ef934cbd;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                transition: ease-in-out 0.2s;
            }
    }
}

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    bottom: 0;
    background-color: #212121;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;

    .foodies {
        color: #fff;
    }

    .copyright {
        color: #fff;
        margin-right: 0.2rem;
    }
}