.orderlist {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 0vw auto;
  .text {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;

    &__item {
      display: flex;
      flex-direction: row;
      background-color: gray;
      margin: 1vw;
      border-radius: 0 30px 30px 0;

      &__itemDscrp {
        text-align: left;
        font-size: 4em;
        margin-left: 0;
        padding: 0 0 0 2vw;
        //  align-items: center;
      }

      &__price {
        text-align: center;

        color: gold;
        font-size: 4vw;
        background-color: rgba(91, 168, 27, 0.751);
        border-radius: 30px 0 0 30px;
        width: 7vw;
        margin-top: 0%;
        height: 50%;
      }
    }
  }

  img {
    width: 20%;
    height: 20%;
  }
}
.confirmation {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0%;
  background-color: rgb(215, 203, 136);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 0vw;
  .words {
    font-size: 4rem;
  }
  a
  {
    color: black;
    //font-style: unset;
    &:hover 
    {
      color: white;
    }
  }
  .btn {
    border: solid 0.5vw #ef934c69;
    margin: 0;
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
    margin: 2vw 3vw;
    background-color: #EF934C;
    border-radius: 30px;

    &:hover {
      background-color: #ef934c8b;
     
    //  border: solid 0.5vw rgb(189, 137, 6);
    }
  }
}
